<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LXF-Categories.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FDA368281C34D4EB00BF2B3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDA368411C34D4EB00BF2B3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDA3684C1C34D4EB00BF2B3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
